<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="PFGA_Membership.Properties.Settings.PFGAMembershipConnectionString" connectionString="Data Source=EVIL-HIVE\SQLEXPRESS;Initial Catalog=PFGAMembership_Dev;Persist Security Info=True;User ID=PFGAMembership;Password=1q2w3e4r" providerName="System.Data.SqlClient" />
    <add name="PFGAMembership_DevEntities" connectionString="metadata=res://*/EFMembership.csdl|res://*/EFMembership.ssdl|res://*/EFMembership.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EVIL-HIVE\SQLEXPRESS;initial catalog=PFGAMembership_Dev;persist security info=True;user id=PFGAMembership;password=1q2w3e4r;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="ENABLE_LOG_FILE" value="TRUE" />
    <add key="LOG_FAILED_EVENT" value="TRUE" />
    <add key="LOG_SUCCESSFUL_EVENT" value="TRUE" />
    <add key="ERROR_LOG_PATH" value="C:\Users\bmcke\Documents\Visual Studio 2013\Projects\pfga\Membership\ErrorLog\log_YYYYMMDD.txt" />
    <add key="VERBOSE_LOGGING" value="TRUE" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>