<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PFGA_Membership.Properties.Settings.PFGAMembershipConnectionString"
            connectionString="Data Source=EVIL-HIVE\SQLEXPRESS;Initial Catalog=PFGAMembership_Dev;Persist Security Info=True;User ID=PFGAMembership;Password=1q2w3e4r"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
        <add key="ENABLE_LOG_FILE" value="TRUE"/>

        <add key="LOG_FAILED_EVENT" value="TRUE"/>
        <add key="LOG_SUCCESSFUL_EVENT" value="TRUE"/>

        <add key="ERROR_LOG_PATH" value="C:\Users\bmcke\Documents\Visual Studio 2013\Projects\pfga\Membership\ErrorLog\log_YYYYMMDD.txt"/>
        <add key="VERBOSE_LOGGING" value="TRUE"/>
    </appSettings>
</configuration>